<!DOCTYPE html>
<html lang="en">
{include file="common/head" /}
<body>
{include file="common/nav" /}
<div class="about-content">
    <div class="w1000">
        <div class="item info">
            <div class="title">
                <h3>我的介绍</h3>
            </div>
            <div class="cont">
                <img src="../../res/img/xc_img1.jpg">
                <div class="per-info">
                    <p>
                        <span class="name">{$name}</span><br/>
                        <span class="age">{$age}岁</span><br/>
                        <span class="Career">{$career}</span><br/>
                        <span class="interest">{$interest}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="item tool">
            <div class="title">
                <h3>我的技能</h3>
            </div>
            <div class="layui-fluid">
                <div class="layui-row">
                    <div class="layui-col-xs6 layui-col-sm3 layui-col-md3">
                        <div class="cont-box">
                            <img width="40%" src="/res/img/php.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="common/foot" /}

<script type="text/javascript">
    layui.config({
        base: '../res/js/util/'
    }).use(['element', 'laypage', 'form', 'layer'], function () {
        element = layui.element, laypage = layui.laypage, form = layui.form, layer = layui.layer;
    })
</script>

</body>
</html>