<!DOCTYPE html>
<html lang="en">
{include file="common/head" /}
<body>
{include file="common/nav" /}

<!--<div class="banner">
    <div class="cont w1000">
        <div class="title">
            <h3>MY<br />BLOG</h3>
            <h5>Dream still have to have, in case it is realized.</h5>
        </div>
        &lt;!&ndash;<div class="amount">
            <p><span class="text">访问量</span><span class="access">1000</span></p>
            <p><span class="text">日志</span><span class="daily-record">1000</span></p>
        </div>&ndash;&gt;
    </div>
</div>-->

<div class="content">
    {include file="common/article" /}
</div>
{include file="common/foot" /}

<script type="text/javascript">
    layui.config({
        base: '/res/js/util/'
    }).use(['element', 'laypage', 'jquery',], function () {
        element = layui.element, laypage = layui.laypage, $ = layui.$;
        laypage.render({
            limit: '10'
            , elem: 'demo'
            , count: '{$articleList["total"]}' //数据总数，从服务端得到
            , curr: '{$currPage}'
            , jump: function (obj, first) {
                if (first) {
                    return true;
                }
                window.location.href = "/category/{$categoryId}/" + obj['curr'];
            }
        });
    });
</script>
</body>
</html>