
<div class="footer-wrap">
    <div class="footer w1000">
        <div class="practice-mode">
            <div class="text">
                <p>© 2017-1-17 www.php20.cn </p>
                <p>版权所有 ICP证：{$WEB_ICP_NUMBER}</p>
                <p>邮箱<span class="email"> {$ADMIN_EMAIL}</span></p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/res/layui/layui.js"></script>
<script type="text/javascript" src="/ueditor-1.4.3.3/third-party/SyntaxHighlighter/shCore.js"></script>
<script type="text/javascript" src="/res/js/util/public.js"></script>
<script type="text/javascript" src="/res/background/1.js"></script>

<!-- 百度页面自动提交开始 -->
<script>
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<!-- 百度页面自动提交结束 -->

<!-- 百度统计开始 -->
{$web_statistics|raw}
<!-- 百度统计结束 -->