<div class="header">
    <div class="menu-btn">
        <div class="menu"></div>
    </div>
    <h1 class="logo">
        <a href="/index.html">
            <span>Tioncico</span>
            <img src="../res/img/logo.png">
        </a>
    </h1>
    <div class="nav">
        <a href="/index.html" {if condition='$navActive eq index' } class="active" {/if}>文章</a>
        <a href="/whisper.html" {if condition='$navActive eq whisper' } class="active" {/if}>微语</a>
        <!--<a href="/leacots.html">留言</a>-->
        <!--<a href="/album.html">相册</a>-->
        <a href="/about.html" {if condition='$navActive eq about' } class="active" {/if}>关于</a>
    </div>
    <ul class="layui-nav header-down-nav">
        <li class="layui-nav-item"><a href="/index.html" class="active">文章</a></li>
        <li class="layui-nav-item"><a href="/whisper.html">微语</a></li>
        <!--<li class="layui-nav-item"><a href="/leacots.html">留言</a></li>-->
        <!--<li class="layui-nav-item"><a href="/album.html">相册</a></li>-->
        <li class="layui-nav-item"><a href="/about.html">关于</a></li>
    </ul>
<!--    <div class="search">
        <form class="form-inline" role="form" action="/Home/Index/search" method="get"><input  type="text" name="search_word"> <input type="button" value="全站搜索" onclick="javascript:var keyword=$('#b-sea   rch-text').val();window.location.href='/Home/Index/search/search_word/'+keyword">
        </form>
    </div>-->
    <p class="welcome-text">
        欢迎来到<span class="name">仙士可</span>的博客~
    </p>
</div>